body{
    background-image: url(back.jpg);
}
h1{
    background-color: aqua;
    color:rgb(195, 0, 255);
    width: 12cm;
    border-radius: 2cm;
    text-align: center;
}
body {
    padding: 0px 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-weight: 900;
}

div {
    padding: 5px 5px;
    background-color: rgb(164, 206, 147);
    width: auto;
    color: rgb(0, 255, 55);
    line-height: 10%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

form {
    background-color: rgba(137, 43, 226, 0.507);
    border-radius: 5px;
    border: 1px solid rgba(255, 230, 0, 0.788);
    padding: 0px 80px 5px;
    font-size: large;
}
form:hover{
    background-color:rgba(0, 255, 179, 0.61) ;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(183, 0, 255);
    font-size: larger;
    border-radius: 5px;
    background-color: rgb(0, 225, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#prob{
    width: 100%;
    word-wrap: break-word;
}

input[type="Reset"] {
    background-color: red;
    font-size: larger;
    color: rgb(0, 217, 255);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1cm;
    width: 20%;
    text-align: center;
}
    

input[type="Submit"] {
    background-color: rgb(9, 255, 0);
    font-size: larger;
    color: rgb(0, 183, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 75%;
    font-size: 1cm;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: rgb(0, 176, 76);
}

input[type="reset"]:hover {
    background-color: rgb(191, 0, 0);
}